body{
   
    background-image: url('backgorund2.jpg');  
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    /* background-position:center;  */
    /* height:100%; */

}
h1{
    color: rgb(255,255,255);
    text-align: center;
}

form{
    text-align: center;
}
img{
    margin-bottom: 0px;
    margin-left: 0px;
}